body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header {
  background-color: #4f46e5;
  color: white;
  text-align: center;
  padding: 2rem;
}

section {
  padding: 2rem;
}

.proyecto {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 1rem;
}
